.iconBook {
    background-image: url('../../../public/Assets/Icon/reading-book.png');
    background-repeat: no-repeat;
    background-size: contain;
    width : 2rem;
    background-position-y: center;
    margin-right: 0.2rem;
  }

  .studyContents {
    border : solid 0.15rem #A87E6E;
    text-align: start;
  }
  
  .studyContents:hover {
    background-color: #F0ECE9;
  }

  .studyBtn {
    background-color: #F0ECE9;
    cursor:pointer;
    color: #A87C6E;
    font-weight: bold;
  }


  .studyContents:hover > .studyBtn {
    background-color: #A87E6E;
    color: #ffffff;
  }

  .badgeImg {
    width : 1.5rem;
    margin-right: 0.2rem;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

