/* 플레이스홀더가 표시될 위치와 스타일 */

.peer::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: #a0aec0;
    transition: all 0.2s ease-in-out;
}


/* 플레이스홀더가 나타날 때, 라벨을 이동 및 스타일링 */

.peer:focus~label,
.peer:not(:placeholder-shown)~label {
    transform: translateY(-1.5rem);
    font-size: 12px;
    color: #a0aec0;
}


/* 입력 필드에 포커스가 있을 때, 플레이스홀더 이동 및 스타일링 */

.peer:focus::placeholder,
.peer:not(:placeholder-shown) {
    color: transparent;
    transform: translateY(-1.5rem);
    font-size: 12px;
}


/* 입력 필드에 포커스가 없을 때, 플레이스홀더 이동 */